.footer{
    background: #f9d3d358;
        padding: 50px 0;
        margin-top: 5rem;
}
.footerContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 5rem;

}

.useLink>div{
    display: flex;
justify-content: space-between;
 
}
.useLink>div p{
    color: #666;
    font-size: 14px;

}

.logo{
    text-align: center;
}
.address p{
    text-align: center;
    font-size: 15px;
    line-height: 26px;
}
.address h6{
    line-height: 0;
    text-align: center;
}
.openHours h6{
    display: flex;
    justify-content: space-between;
    width: 70%;
    line-height: 0.8;
}
@media only screen and (max-width: 903px) {
    .footerContainer{
  
        grid-template-columns: repeat(2, 1fr);
      
        gap: 2rem;
    
    }

}
@media only screen and (max-width: 516px) {
    .footerContainer{
  
        grid-template-columns: repeat(1, 1fr);
      text-align: center;
        gap: 1rem;
    
    }
    .openHours h6{
       margin: auto;
        width: 90%;
        line-height: 2;
    }

}