.hero_container {
  display: flex;
  position: relative;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cherryDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: var(--pink);
  color: var(--themeRed);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.heroText{
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 700;
}

.miniDescription{
  width: 70%;
  color: var(--gray);
  font-weight: 700;
  font-size: 1rem;
  line-height: 25px;
}
.btn{
  padding: 1rem 2.5rem;
}
.rightSide{
  position: relative;
}
.imagesContainer{
  width: 38rem;
  position: absolute;
  top:-4rem;
  left: -5rem
}

.contactUs{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: max-content;
  padding: 1rem;
  border-radius: 5rem;
  top:6rem;
  left: -6rem;
  background-color: white;
  gap:1rem;
  box-shadow: var(  --shadow);
  color: var(--themeRed);
}
.contactUs:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.contactUs>div{
  background-color: rgb(59 208 59);
width: 2.5rem;
height: 2.5rem;
display: flex;
justify-content: center;
align-items: center;
  border-radius: 50%;
}
.pizza{
  display: flex;
  gap: 1rem;
  background-color: white;
  box-shadow: var(--shadow);
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 4rem;
  left: 19rem;
  width: max-content;
}
.pizza>:nth-child(1){
  width: 6rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.pizza>:nth-child(2){
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 font-weight: 700;
}
.pizza:hover{
  transform: scale(1.1);
  cursor: pointer;
}


@media only screen and (max-width: 1253px) {
.hero_container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 0;

}
.imagesContainer{
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
}
.contactUs{

  top:10rem;
  left: 6rem;

}
.pizza{

  bottom: 15rem;
 left: 40rem;
}
.left{
  justify-content: center;
  align-items: center;
 
}
}
@media only screen and (max-width: 1037px) {
  .contactUs{

    top:10rem;
    left: 1rem;
  }  
  .pizza{

    bottom: 5rem;
   left: 10rem;
  }
}
@media only screen and (max-width: 600px) {
  .contactUs{

   display: none
  }  
  .pizza{

display: none;
  }
  .heroText {

    font-size: 2.5rem;
  
}

.miniDescription{
  width: 100%;

}

.imagesContainer{
 top: 2px;
}
}
