.container{
    margin-top: 60px;
}
.workContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.workImg{
    border: 0.55rem solid white;
    border-radius: 50%;
    box-shadow: 7px 10px 5px rgb(231, 231, 231), -3px 3px 10px rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-content: center;
    width: 150px;
    height: 150px;
    margin: auto;
  
}
.workImg img{
    border-radius: 50%;
}
.workContainer h4{
    color: #333;
    font-size: 1.3rem;
    width: 80%;
   margin: auto;
   font-weight: 500;
margin-top: 15px;
}

@media only screen and (max-width:859px) {
    .workContainer{
        grid-template-columns: repeat(3, 1fr);
       
  }}
@media only screen and (max-width:570px) {
    .workContainer{
        grid-template-columns: repeat(2, 1fr);
       
  }}



@media only screen and (max-width:380px) {
    .workContainer{
        grid-template-columns: repeat(1, 1fr);
       
  }}